name: Deploy Documentation

on:
  workflow_dispatch:

jobs:
  docs:
    uses: scikit-package/release-scripts/.github/workflows/_release-docs.yml@v0
    with:
      project: scikit-package
      c_extension: false
      headless: false
